<h1 class="text-danger">Dashboard - AuthApp</h1>
<h3 class="text-primary mt-4">Welcome USERNAME..!</h3>
<form action="/users/logout" method="POST">
    <button type="submit" class="btn btn-dark mt-3">Logout</button>
</form>