<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Auth App with Passport</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container-lg">
        <%- body %>
    </div>
    <!-- scripts -->
    <script src="/bootstrap.min.js"></script>
</body>

</html>