* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.login-img {
    max-height: 220px;
    text-align: center;
}
.wel-heading {
    font-weight: 600;
    font-size: 30px;
    text-align: cneter;
}